{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 88,
  "tabWidth": 4,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.py",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "*.{js,jsx,json,yml,yaml,html,css}",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
